---  
import Nav from "../components/Nav";
import MainLayout from "../layouts/main-layout.astro";
---

<MainLayout title="Stark Portfolio">
	<h1>Hello There</h1>
	<a href="/about">About Page</a>	
</MainLayout>