---
import f1 from "../../public/f1.jpg"
import f2 from "../../public/f2.jpeg"
import f3 from "../../public/f3.jpeg"
import f4 from "../../public/f4.jpg"
---

<div class="mx-12">
  <h1 class="my-24 text-center text-xl">Latest Art Pieces</h1>
  <div class="grid grid-cols-1 gap-24 xl:mx-48  xl:grid-cols-2 mt-24 mb-48">
    <div class="relative group m-10">
      <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" width="520" src={f1.src} alt="First Painting">
      <div class="absolute w-full h-full left-0 top-0 rounded-lg transition-all bg-slate-800 group-hover:translate-x-3 group-hover:translate-y-3"  ></div>
    </div>
    <div class="relative group m-10">
      <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" width="520" src={f2.src} alt="Second Painting">
      <div class="absolute w-full h-full left-0 top-0 rounded-lg transition-all bg-slate-800 group-hover:translate-x-3 group-hover:translate-y-3"  ></div>
    </div>
    <div class="relative group m-10">
      <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" width="520" src={f3.src} alt="Third Painting">
      <div class="absolute w-full h-full left-0 top-0 rounded-lg transition-all bg-slate-800 group-hover:translate-x-3 group-hover:translate-y-3"  ></div>
    </div>
    <div class="relative group m-10">
      <img class="relative w-full z-10 rounded-lg transition-all group-hover:-translate-x-3 group-hover:-translate-y-3" width="520" src={f4.src} alt="Fourth Painting">
      <div class="absolute w-full h-full left-0 top-0 rounded-lg transition-all bg-slate-800 group-hover:translate-x-3 group-hover:translate-y-3"></div>
    </div>
  </div>
</div>