---
import f1 from "f1.jpg"
import f2 from "f2.jpg"
---

<div class="relative mx-12 flex flex-col items-center justify-center">
  <h1 class="text-xl">
    Enter my Beautiful website <span class="font-bold"> Please Hire me</span>
  </h1>
  <div class="relative">

    <svg width="540" height="255" viewBox="0 0 540 255" fill="none" xmlns="http://www.w3.org/2000/svg" class="absolute h-full w-full overflow-visible">
      <path d="M538 253.5V167H2L2 2" stroke="url(#paint0_linear_6_33)" stroke-width="3" stroke-linecap="round"></path>
      <defs>
        <linearGradient id="#paint0_linear_6_33" x1="2.00009" y1="50.9998" x2="589" y2="275.5" gradientUnits="userSpaceOnUse">
          <stop stop-color="#DC3A2B"></stop>
          <stop offset="1" stop-color="#E18510"></stop>
        </linearGradient>
      </defs>  
    </svg>

    <p id="anim-p" class="p-6 text-lg">
      sdbasfbsdfb
      sfb
      sdfb

      dsfb
      fds
      <br>
      sdbasfbsdfb 
      <br>

      KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
    </p>
  </div>
</div>