---
import f1 from "f1.jpg"
import f2 from "f2.jpg"
---

<div class="relative mx-12 flex flex-col items-center justify-center">
  <h1 class="text-xl">
    Enter my Beautiful website <span class="font-bold"> Please Hire me</span>
  </h1>
  <div class="relative">
    <p id="anim-p" class="p-6 text-lg">
      sdbasfbsdfb
      sfb
      sdfb

      dsfb
      fds
      <br>
      sdbasfbsdfb 
      <br>

      KKKKKKKKKKKKKKKKKKKKKKKKKKKKKKK
    </p>
  </div>
</div>